.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
.navigation-links-navlink1 {
  font-size: 20px;
  font-weight: bold;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-text {
  font-size: 20px;
  font-weight: bold;
  margin-left: var(--dl-space-space-twounits);
}












@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.seminar-xai-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.seminar-xai-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-primary-500);
}
.seminar-xai-text {
  font-size: 20px;
}
.seminar-xai-text01 {
  font-weight: 700;
  line-height: 1.5;
  text-transform: capitalize;
}
.seminar-xai-text02 {
  font-weight: 700;
  line-height: 1.5;
  text-transform: capitalize;
}
.seminar-xai-text03 {
  font-weight: 700;
  line-height: 1.5;
  text-transform: capitalize;
}
.seminar-xai-container01 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.seminar-xai-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.seminar-xai-burger-menu {
  display: none;
}
.seminar-xai-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.seminar-xai-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.seminar-xai-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.seminar-xai-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.seminar-xai-image {
  height: 2rem;
}
.seminar-xai-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.seminar-xai-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.seminar-xai-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.seminar-xai-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.seminar-xai-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.seminar-xai-text05 {
  font-size: 45px;
  margin-top: var(--dl-space-space-twounits);
}
.seminar-xai-banner {
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  justify-content: space-between;
}
.seminar-xai-container03 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.seminar-xai-text06 {
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.seminar-xai-text07 {
  width: 100%;
  margin-right: var(--dl-space-space-threeunits);
}
.seminar-xai-text08 {
  font-size: 20px;
}
.seminar-xai-text10 {
  font-size: 20px;
}
.seminar-xai-text11 {
  font-size: 20px;
}
.seminar-xai-banner1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: flex-start;
  justify-content: flex-start;
}
.seminar-xai-container04 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.seminar-xai-text14 {
  text-align: left;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.seminar-xai-text15 {
  width: 100%;
  font-size: 20px;
  margin-right: var(--dl-space-space-threeunits);
}
.seminar-xai-text16 {
  font-size: 20px;
}
.seminar-xai-banner2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: flex-start;
  justify-content: flex-start;
}
.seminar-xai-container05 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.seminar-xai-text20 {
  text-align: left;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.seminar-xai-ul {
  list-style-type: circle;
}
.seminar-xai-text21 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
}
.seminar-xai-text22 {
  font-size: 20px;
}
.seminar-xai-text25 {
  font-size: 20px;
}
.seminar-xai-text26 {
  font-size: 20px;
}
.seminar-xai-text29 {
  font-size: 20px;
}
.seminar-xai-banner3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: flex-start;
  justify-content: flex-start;
}
.seminar-xai-container06 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.seminar-xai-text32 {
  text-align: left;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.seminar-xai-text33 {
  width: 100%;
  font-size: 20px;
  margin-right: var(--dl-space-space-threeunits);
}
.seminar-xai-text36 {
  font-weight: 700;
}
.seminar-xai-text38 {
  text-decoration: underline;
}
.seminar-xai-banner4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: flex-start;
  justify-content: flex-start;
}
.seminar-xai-container07 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.seminar-xai-text41 {
  text-align: left;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.seminar-xai-ul1 {
  list-style-type: circle;
}
.seminar-xai-text42 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
}
.seminar-xai-text43 {
  font-size: 20px;
}
.seminar-xai-text44 {
  font-size: 20px;
}
.seminar-xai-text45 {
  font-size: 20px;
}
.seminar-xai-text46 {
  font-size: 20px;
}
.seminar-xai-text47 {
  font-size: 20px;
}
.seminar-xai-banner5 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: flex-start;
  justify-content: flex-start;
}
.seminar-xai-container08 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.seminar-xai-text48 {
  text-align: left;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.seminar-xai-ul2 {
  list-style-type: circle;
}
.seminar-xai-text49 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
}
.seminar-xai-text50 {
  font-size: 20px;
}
.seminar-xai-text51 {
  font-size: 20px;
}
.seminar-xai-banner6 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: flex-start;
  justify-content: flex-start;
}
.seminar-xai-container09 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.seminar-xai-text52 {
  text-align: left;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.seminar-xai-text53 {
  font-size: 20px;
}
.seminar-xai-text55 {
  text-decoration: underline;
}
.seminar-xai-ul3 {
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: outside;
}
.seminar-xai-li14 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.seminar-xai-text57 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
}
.seminar-xai-li15 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.seminar-xai-text60 {
  font-size: 20px;
}
.seminar-xai-li16 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.seminar-xai-text61 {
  font-size: 20px;
}
.seminar-xai-li17 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.seminar-xai-text62 {
  font-size: 20px;
}
.seminar-xai-text63 {
  font-size: 20px;
}
.seminar-xai-text64 {
  font-size: 20px;
}
.seminar-xai-text65 {
  font-size: 20px;
}
.seminar-xai-text66 {
  font-size: 20px;
}
.seminar-xai-text67 {
  font-size: 20px;
}
.seminar-xai-text68 {
  font-size: 20px;
  font-style: italic;
}
@media(max-width: 991px) {
  .seminar-xai-banner {
    flex-direction: column;
  }
  .seminar-xai-container03 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .seminar-xai-text07 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .seminar-xai-banner1 {
    flex-direction: column;
  }
  .seminar-xai-container04 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .seminar-xai-text15 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .seminar-xai-banner2 {
    flex-direction: column;
  }
  .seminar-xai-container05 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .seminar-xai-banner3 {
    flex-direction: column;
  }
  .seminar-xai-container06 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .seminar-xai-text33 {
    text-align: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .seminar-xai-banner4 {
    flex-direction: column;
  }
  .seminar-xai-container07 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .seminar-xai-banner5 {
    flex-direction: column;
  }
  .seminar-xai-container08 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .seminar-xai-banner6 {
    flex-direction: column;
  }
  .seminar-xai-container09 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .seminar-xai-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .seminar-xai-nav {
    display: none;
  }
  .seminar-xai-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .seminar-xai-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .seminar-xai-text07 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .seminar-xai-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .seminar-xai-text15 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .seminar-xai-banner2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .seminar-xai-banner3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .seminar-xai-text33 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .seminar-xai-banner4 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .seminar-xai-banner5 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .seminar-xai-banner6 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .seminar-xai-header {
    padding: var(--dl-space-space-unit);
  }
  .seminar-xai-mobile-menu {
    padding: 16px;
  }
  .seminar-xai-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .seminar-xai-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .seminar-xai-banner2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .seminar-xai-banner3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .seminar-xai-banner4 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .seminar-xai-banner5 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .seminar-xai-banner6 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
